body {
    background: url("../images/third-eye-2886688_1920.jpg");
    background-size: contain;
}

h3 {
    color: rgb(69, 161, 69);
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

p {
    color: Turquoise;
    font-weight: 900;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}

#guesses-SoFar {
    color: azure;
}

.rules {
    color: dodgerblue;
}

@media all and (max-width: 700px) {
    .jumbotron {
        height: 200px;
        line-height: 1.1;
    }
    h3 {
        font-size: 22px;
        line-height: 1.1;
    }
    p {
        font-size: 22px;
        line-height: 1.1;
    }
    h1 {
        font-size: 32px;
    }
}